div.controlbar {
    position: fixed;
    left: 0; bottom: 0;
    height: 2cm;
    width: 100vw;
    background-image: url('../img/cbgradient.png');
    background-size: 100% 100%;
    opacity: 1;
    transition: opacity .25s;
}
div.controlbar[_hidden="true"] {
    opacity: 0;
}

@font-face {
    font-family: 'icons';
    src: url('../font/crumbflix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.controlbar>div.scrub {
    position: absolute;
    left: 2mm; bottom: 1.2cm;
    height: 3px; width: calc(100vw - 4mm);
    background-color: rgba(255,255,255,.15);
}
div.controlbar>div.scrub>div.buffer {
    position: absolute;
    left: 0; top: 0;
    height: 100%; width: 800px;
    background-color: rgba(255,255,255,.2);
}
div.controlbar>div.scrub>div.progress {
    position: absolute;
    left: 0; top: 0;
    height: 100%; width: 500px;
    background-color: rgb(220,0,0);
}

div.controlbar>div.content {
    position: absolute;
    bottom: 0;
    --contentheight: 0.8cm;
    height: var(--contentheight);
    padding: 2mm 4mm;
}
div.controlbar>div.content>div.button {
    height: var(--contentheight);
    width: 1.0cm;
    line-height: var(--contentheight);
    text-align: center;
    cursor: pointer;
    color: rgba(255,255,255,.8);
    font-family: 'icons';
    display: inline-block;
    user-select: none;
}
div.controlbar>div.content>div.button:hover {
    color: rgba(255,255,255,1);
}
div.controlbar>div.content>div.button[adminonly] {
    display: none;
}
div.controlbar[admin="true"]>div.content>div.button[adminonly] {
    display: inline-block;
}