/* Styles for message boxes */

div.messagebar {
    position: fixed;
    top: 0; right: 0;
    height: 100vh; width: 10cm;
    overflow-y: scroll;
    scrollbar-width: none;
    /*scroll-behavior: smooth;*/
}
div.messagebar::-webkit-scrollbar {
    display: none;
}
div.messagebar>.message {
    background-color: rgba(0,0,0,.4);
    border-radius: 1.5mm;
    padding: 2mm;
    float: right;
    text-align: left;
    animation-name: message_flyin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-bottom: 2mm;
    margin-right: 2mm;
    color: white;
    min-width: 5.01cm;
}
div.messagebar>.message.hidden {
    animation-name: message_flyout;
    animation-duration: 1s;
}
div.messagebar>.message>.from {
    font-weight: bold;
    margin-bottom: 1.5mm;
}

@keyframes message_flyin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes message_flyout {
    0% {
        opacity: 1;
        transform: translateX(0);
        margin-top: 0;
    }
    50% {
        opacity: 0;
        transform: translateX(2cm);
        margin-top: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(2cm);
        margin-top: var(--msgyeet);
    }
}

div.messagebar>.message.message_system {
    border: 2px solid red;
}
div.messagebar>.message.message_system>.from {
    color: red;
}

div.messagebar>.message.message_client {
    border: 2px solid rgba(0,0,0,.8);
}
div.messagebar>.message.message_client>.from {
    color: rgba(0,0,0,.8);
}