div.userinfo {
    position: fixed;
    top: 5mm; left: 5mm;
    background: rgba(0,0,0,.75);
    color: white;
    padding: 3mm;
    border-radius: 2mm;
}

div.userinfo table {
    border-collapse: collapse;
}

div.userinfo table td,
div.userinfo table th {
    padding: 2mm 4mm;
    border-top: 1px solid rgba(255,255,255,.8);
}

div.userinfo table th {
    font-weight: bold;
    border-top: none
}

div.userinfo table td {
    font-family: monospace;
}

div.userinfo table td:nth-child(2) {
    font-family: "icons";
    text-align: center;
}